@use "utils";
@use "typography";
@use "mixins";
@use "transitions";

//extra resets
a {
  text-decoration: none;
}

//shared styles
@import 'mixins.scss';

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#__nuxt {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.innerArea {
  max-width: 1920px;
  margin: 0 auto;
}

.safeArea {
  @include sm-down {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  @include md {
    padding-left: 48px !important;
    padding-right: 48px !important;
  }

  @include lg {
    padding-left: 64px !important;
    padding-right: 64px !important;
  }

  @include xl {
    padding-left: 150px !important;
    padding-right: 150px !important;
  }

  @include xxl {
    padding-left: 300px !important;
    padding-right: 300px !important;
  }
}

.rounded-corners {
  border-radius: 56px;
}

.outlineText {
  font-weight: 700;
  font-size: 48px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: v-bind('computedColorOutline') !important;

  @include sm-down {
    font-size: 32px;
  }
}

/* Real outline for modern browsers */
@supports((text-stroke: 2px black) or (-webkit-text-stroke: 2px black)) {
  .outlineText {
    color: transparent;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    text-shadow: none;
  }
}
