$transitionTime: 0.3s;
$fastTransitionTime: 0.2s;

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transitionTime ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity $fastTransitionTime ease-in-out;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  opacity: 0;
}

.fade-slide {
  &-enter-active {
    transition: opacity $transitionTime linear, transform $transitionTime ease-in-out;
    transition-delay: calc( 0.1s * var(--i) );
  }

  &-leave-active {
    transition: opacity $transitionTime linear, transform $transitionTime ease-in-out;
    transition-delay: calc( 0.05s * (var(--total) - var(--i)) );
  }

  &-enter-from,
  &-leave-to {
    opacity: 0;
  }

  &-enter-from { transform: translateX(-1em); }
  &-leave-to { transform: translateX(1em); }
}

.fade-slide-up-enter-active, .fade-slide-up-leave-active {
  transition: opacity $transitionTime ease-in-out, transform $transitionTime ease-in-out;
}

.fade-slide-up-enter-from, .fade-slide-up-leave-to {
  opacity: 0;
  transform: translateY(1em);
}

.notification-move,
.notification-enter-active,
.notification-leave-active {
  transition: all $transitionTime ease;
}

.notification-enter-from,
.notification-leave-to {
  opacity: 0;
  transform: translateX(1em);
}

.notification-leave-active {
  position: absolute !important;
}
