
//css hover underline animation
.hover-underline-animation > :first-child {
  display: inline-block;
  position: relative;
}

.hover-underline-animation > :first-child::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #AE50FD;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover > :first-child::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}
